Analyzing a weather related data

A real world project.

In [4]:
import pandas as pd

In [8]:
data=pd.read_csv(r'C:\Users\Education\Downloads\pari_bhayankar.csv')

an r is written before the file location in order to get rid of the unicode error.

In [9]:
data

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

imortant commands-

 important 15 quastions to analysoze from the given data-

                            .head()
- it shows first 5 rows of the data frame (by default its values is 5)

In [10]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

                        .shape
- it tells the no. of rows and no. of columns in the dataframe.

In [12]:
data.shape

(8784, 8)

                        .index
- this attribute provide the index of the dataframe.

In [14]:
data.index

RangeIndex(start=0, stop=8784, step=1)

                       .columns
- it will tell the columns name.

In [15]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

                          .dtypes
- this will show the data type of each column.

In [16]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

                         .unique()
- in a column, it will tell all the unique values. it can be applied only on the single colummn but not on all the dataframe.
- syntex is dataframe_name['column_name'].unique()

In [18]:
data['Dew Point Temp_C'].unique()

array([ -3.9,  -3.7,  -3.4,  -3.2,  -3.3,  -3.1,  -3.6,  -2.3,  -2.1,
        -2. ,  -1.7,  -1.1,  -0.4,  -0.2,   0. ,   1. ,   1.3,   1.7,
         1.9,   2. ,   1.5,  -0.9,  -1.5,  -2.6,  -2.9,  -4.1,  -3.5,
        -6.2,  -6.5,  -6.8,  -7. ,  -8.7,  -9.5, -11.4, -12.1, -13.4,
       -12.8, -14.7, -14.1, -16. , -17.2, -15.8, -18.7, -20.1, -19.1,
       -19.3, -19.5, -21.3, -21.9, -22.2, -22.6, -22.4, -22.9, -23.2,
       -23.8, -24.8, -25.4, -24.6, -24.2, -24.1, -24. , -22.5, -20.6,
       -21.1, -21.7, -19. , -16.3, -15.5, -13.2, -12.6, -12.7, -11.6,
       -11.7, -10.2,  -8.3,  -7.7, -10.7,  -9.7,  -9.1, -10.1, -10. ,
        -9.6, -12. , -14.4, -15.4, -15.7, -14.8, -16.8, -17.3, -16.5,
       -16.1, -16.2, -16.7, -15.6, -14.3, -13.6, -13. , -12.5, -12.2,
       -11.1, -10.8, -10.5,  -9. ,  -8. ,  -7.8,  -7.2,  -6.9,  -6.1,
        -5.9,  -5.4,  -5.3,  -5. ,  -3. ,  -4.6,  -9.2, -10.3, -11.9,
       -12.4, -12.9, -13.3, -13.8, -13.9, -13.7, -14. , -14.5, -11. ,
        -6.6,  -5.8,  -5.1,  -5.7,  -5.6,  -6.3,  -5.2,  -2.5,  -1.2,
        -0.7,  -0.8,  -7.9, -10.9, -17.8, -18.9, -19.4, -21. , -21.4,
       -20.8, -20.9, -20.4, -20. , -19.9, -19.2, -18.1, -15.2, -15. ,
       -13.1, -11.3,  -8.9,  -8.6,  -8.5,  -7.6,  -7.3,  -8.1,  -7.5,
        -7.4,  -6. ,  -4.8,  -4.5, -11.2, -19.8, -23.5, -23.6, -23.9,
       -23.4, -24.3, -24.4, -25.8, -25.9, -26. , -26.2, -26.8, -26.6,
       -26.1, -26.5, -28.5, -28. , -27.8, -25.5, -22.8, -22.7, -23. ,
       -23.3, -21.5, -20.7, -17.7, -16.9, -17.5, -18.3, -17.1, -14.6,
       -10.4,  -9.9,  -4.9,   0.7,  -4. ,  -8.2, -16.6, -17.6, -18. ,
       -18.4, -18.8, -18.2, -17.4, -21.6, -19.7, -14.9,  -8.4,  -9.3,
       -20.3, -21.2, -22.1, -23.7, -25.6, -25.1, -24.5, -21.8, -22. ,
       -20.2, -17. ,  -2.4,  -0.3,   1.2,   1.4,   2.2,   2.5,   2.3,
         2.1,   3.6,  -0.6,  -1.8,  -1.9,  -2.2,  -2.8, -11.8, -11.5,
       -13.5,  -8.8,  -4.2,  -1.4,  -1. ,  -1.3,  -1.6,  -2.7,  -4.4,
        -4.3, -15.1, -14.2, -15.3, -15.9, -12.3,  -7.1,  -6.7,  -6.4,
       -17.9, -18.6,  -4.7,  -3.8, -16.4,  -5.5, -23.1, -25.3, -19.6,
       -10.6,   0.1,   0.2,   0.3,  -0.5,   1.1,   1.6,   0.9,  -9.8,
         0.4,  -9.4, -18.5, -22.3, -20.5,   0.8,   2.9,   3.8,   4. ,
         5.2,   5.9,   6.6,   6.4,   6.9,   7.8,   3.2,   0.6,   1.8,
         3. ,   4.5,   3.3,   2.8,  -0.1,   0.5,   3.5,   3.7,   3.4,
         2.7,   2.6,   5.3,   6.2,   4.3,   4.4,   4.1,   4.7,   5.4,
         5.5,   4.9,   2.4,   5.8,   6.7,   7.6,   8.7,   9.9,  10.5,
        10.4,  10.7,  11. ,  10.1,   9.8,   8.6,   9.2,   8.9,   7.9,
         8.5,   8.3,   9. ,   8.1,   9.4,  11.6,  12. ,  10. ,   9.7,
         9.1,  10.8,  11.8,  12.3,  12.1,  11.7,  10.9,  10.3,   8.8,
        11.5,  12.5,  12.6,   9.5,   7.4,   8.4,  11.4,  11.9,  12.8,
        12.2,   6.8,   7.2,   7.1,   7.5,   6.5,   6.3,   4.6,   4.8,
         5.7,   3.1,   8. ,  10.6,  11.2,  11.1,  13.3,  13.5,  13.6,
        12.4,  11.3,  15.6,  15.8,  14.7,  14.2,   9.6,   6.1,   3.9,
         4.2,   5.1,   5.6,   7. ,   8.2,   7.7,   7.3,  10.2,  13. ,
        12.9,   9.3,   5. ,   6. ,  12.7,  13.1,  13.8,  13.9,  14.5,
        15. ,  14.3,  14.6,  14.4,  15.2,  15.4,  15.3,  15.1,  14. ,
        13.2,  14.1,  13.4,  16. ,  16.2,  16.4,  16.1,  16.5,  16.9,
        16.3,  17.3,  16.7,  15.9,  17. ,  17.7,  17.5,  15.5,  15.7,
        16.8,  17.2,  17.1,  18.3,  18.5,  18.1,  14.8,  18.7,  18.4,
        19. ,  17.4,  17.6,  17.8,  17.9,  13.7,  18. ,  16.6,  14.9,
        18.9,  19.2,  19.4,  19.1,  19.3,  18.8,  18.2,  19.8,  20. ,
        20.4,  19.6,  20.3,  19.9,  21.1,  21. ,  20.2,  20.1,  18.6,
        20.8,  20.6,  20.7,  19.7,  20.9,  21.2,  21.7,  21.9,  20.5,
        19.5,  21.3,  22.3,  23.1,  22. ,  22.2,  22.6,  23.2,  23. ,
        22.9,  24.4,  21.8])

                              .nunique()
- it will tell the total number of unique values in the dataframe. it can be appied on one column as weel as on the whole dataframe.

In [19]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

                                 .count()
- it will tell the number of non-null values in the columns. it can be applied on whole data frame.

In [22]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

                                   .value_counts()
- in a column it shows all the uniques values with their counts. it can bve applied on a single column only.

In [23]:
data.value_counts()

Date/Time        Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  Visibility_km  Press_kPa  Weather
1/1/2012 0:00    -1.8    -3.9              86         4                8.0            101.24     Fog             1
6/1/2012 12:00    19.3    3.3              35         20               48.3           101.32     Cloudy          1
5/9/2012 7:00     14.3    12.5             89         15               4.8            100.12     Fog             1
5/9/2012 8:00     14.3    12.3             88         17               6.4            100.12     Fog             1
5/9/2012 9:00     14.0    12.3             89         9                4.0            100.10     Drizzle,Fog     1
                                                                                                                ..
12/8/2012 3:00    2.1    -1.5              77         6                25.0           101.18     Cloudy          1
12/8/2012 2:00    2.0    -1.9              75         7                25.0           101.17     Cloudy          1
12/8/2012 23:00   1.3     0.6              95         17               8.0            100.96     Drizzle,Fog     1
12/8/2012 22:00   1.2     0.6              96         13               6.4            100.84     Fog             1
9/9/2012 9:00     14.8    8.8              67         17               48.3           100.65     Mainly Clear    1
Name: count, Length: 8784, dtype: int64

In [26]:
data['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

                          .info()
- it gives the basic information about the dataframe.

1. find all unique wind speed values.

In [28]:
data.head(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

In [29]:
data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

In [30]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [31]:
data['Wind Speed_km/h'].nunique()

34

2. find the number of time when the 'wether is exactly clear'

In [32]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [36]:
data['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

In [43]:
data[data.Weather=='Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [42]:
data.groupby('Weather').get_group('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

3. find the number of times when the wind speed is exactly 4 km/h.

In [44]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [55]:
data[data[Wind Speed_km/h]=='4']

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1159419499.py, line 1)

In [47]:
data['Wind Speed_km/h'].value_counts()

Wind Speed_km/h
9     830
11    791
13    735
15    719
7     677
17    666
19    616
6     609
20    496
4     474
22    439
24    374
0     309
26    242
28    205
30    161
32    139
33     85
35     53
37     45
39     24
41     22
44     14
43     13
48     13
46     11
52      7
57      5
50      4
2       2
83      1
70      1
63      1
54      1
Name: count, dtype: int64

In [50]:
data.groupby('Wind Speed_km/h').get_group(4)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

4. find out all the null values in the data.

In [57]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [59]:
data.notnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

5. Rename the column name 'weather' of the dataframe to "weather condition".

In [61]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [60]:
data.rename(columns={'Weather':'Weather condition'}) #it will rename the column only temporarily

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [65]:
data.rename(columns={'Weather':'Weather condition'}, inplace=True) #now the name change is permanent.

In [66]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

6. what is the mean visibility.

In [68]:
data.Visibility_km.mean()

np.float64(27.664446721311478)

7. what is the standard Deviation of "pressure" in this data?

In [70]:
print(data.Press_kPa.std())

0.8440047459486483

8. what is the variance of 'Relative Humidity' in this data?

In [71]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [73]:
data['Rel Hum_%'].var()

np.float64(286.24855019850196)

9. find all the instances when 'snow' was recorded.

In [80]:
#filtering
data[data['Weather condition']=='Snow']

#str contains- in this method it will take out all the elements which contains a perticular word
data['Weather condition'].str.contains('Snow')

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather condition, Length: 8784, dtype: bool

In [83]:
data[data['Weather condition'].str.contains('Snow')].tail(30) #head(number), or tail(number) can be used to extract a range of data.

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
8730,12/29/2012 18:00,-9.3,-10.9,88,26,6.4,100.38,"Snow,Fog"
8731,12/29/2012 19:00,-9.5,-11.2,87,26,3.2,100.33,"Snow,Fog"
8732,12/29/2012 20:00,-9.7,-11.6,86,24,9.7,100.25,"Snow,Fog"
8733,12/29/2012 21:00,-9.8,-11.8,85,24,8.0,100.24,"Snow,Fog"
8734,12/29/2012 22:00,-10.1,-11.6,89,15,2.4,100.20,"Snow,Fog"
8735,12/29/2012 23:00,-10.0,-12.0,85,20,6.4,100.19,"Snow,Fog"
8736,12/30/2012 0:00,-9.6,-11.3,87,13,3.2,100.23,"Snow,Fog"
8737,12/30/2012 1:00,-9.4,-10.5,92,9,2.4,100.22,"Snow,Fog"
8738,12/30/2012 2:00,-9.3,-10.4,92,9,4.0,100.28,"Snow,Fog"
8739,12/30/2012 3:00,-9.1,-10.4,90,11,3.6,100.30,"Snow,Fog"
8740,12/30/2012 4:00,-9.3,-10.6,90,13,9.7,100.28,"Snow,Fog"
8741,12/30/2012 5:00,-9.1,-10.4,90,11,4.0,100.32,"Snow,Fog"
8742,12/30/2012 6:00,-9.3,-10.8,89,17,8.0,100.39,"Snow,Fog"
8767,12/31/2012 7:00,-9.3,-11.3,85,0,19.3,101.19,Snow Showers
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8771,12/31/2012 11:00,-6.7,-7.9,91,9,9.7,100.93,Snow
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow
8774,12/31/2012 14:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,12/31/2012 15:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,12/31/2012 16:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,12/31/2012 17:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,12/31/2012 18:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

10. find all the instances when 'wind speed' was above 24 and visibility is 25.

In [84]:
data.head(2)
#to get rid of bool expressions we enclose the whole code name[]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [86]:
data[(data['Wind Speed_km/h']>24) & (data['Visibility_km']==25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

11. what is the mean value of each column against each 'weather condition'.

12. what is the minimum & maximum value of each column against each weather condition.

13. show all the records where condition is fog.

14. find all the instances where weather is clear or visibility is above 40.

15. find all instances when:
    A. 'Weather is clear' and relative humidity is greater than 50'
    OR
    B.'visibility is above 40'